{% extends "base.html" %}
{% block title %} | Dashboard{% endblock %}

{% block body %}
<div id="app"
    class="max-w-4xl w-screen mx-auto px-4 py-8"
>
    <!-- Header -->
    <nav class="flex items-center justify-between">
        <!-- Logo -->
        <div id="logo" class="flex items-center justify-start">
            <img src="/static/images/logo.svg"
                alt="Blanco bot logo"
                class="w-8 h-8 mr-4 rounded-full"
            >
            <h1 class="text-xl font-mono font-bold hidden md:block">Blanco</h1>
        </div>

        <!-- User -->
        <div id="user" class="grid grid-cols-2 gap-2 items-center relative">
            <p class="text-sm">Hi, <strong>{{ username }}</strong></p>
            <a href="/logout" id="logout"
                class="text-sm text-blue font-bold no-underline absolute right-0
                    px-3 py-2 border border-blue rounded-md transition-all block hover:mb-1
                    hover:border-r-4 hover:border-b-4 active:border-r-2 active:border-b-2"
            >
                Log out
            </a>
        </div>
    </nav>

    <!-- Main -->
    <main class="mt-12 mb-8">
        <!-- Account linking -->
        <section>
            <h1 class="mb-4 md:mb-8">Linked accounts</h1>

            <!-- Spotify -->
            <div class="md:flex items-start justify-between">
                <div>
                    <h2 class="mb-2 md:mb-4">Spotify</h2>
                    {% if spotify_logged_in %}
                    <p class="max-w-md mb-2">
                        <i class="fa-solid fa-check text-green-600"></i>
                        Logged in as <strong>{{ spotify_username }}</strong>
                    </p>
                    {% endif %}
                    <p class="max-w-md mb-8 md:mb-0">
                        Linking your Spotify account to Blanco lets you do cool things
                        like add items to your Liked Songs as you listen and play your
                        playlists without the URL.
                    </p>
                </div>
                {% if spotify_logged_in %}
                <a href="/unlink?service=spotify"
                    class="text-md text-sienna font-bold no-underline
                        px-4 py-3 border border-sienna rounded-md transition-all hover:mt-[-4px]
                        hover:border-r-4 hover:border-b-4 active:border-r-2 active:border-b-2"
                >
                    Unlink account
                </a>
                {% else %}
                <a href="/linkspotify"
                    class="text-md text-black font-bold no-underline
                        px-4 py-3 border border-black rounded-md transition-all hover:mt-[-4px]
                        hover:border-r-4 hover:border-b-4 active:border-r-2 active:border-b-2"
                >
                    Log in with
                    <i class="fa-brands fa-spotify"></i>
                </a>
                {% endif %}
            </div>

            <!-- Last.fm -->
            <div class="md:flex items-start justify-between mt-10 md:mt-8 mb-2">
                <div>
                    <h2 class="mb-2 md:mb-4">Last.fm</h2>
                    {% if lastfm_logged_in %}
                    <p class="max-w-md mb-2">
                        <i class="fa-solid fa-check text-green-600"></i>
                        Logged in as <strong>{{ lastfm_username }}</strong>
                    </p>
                    {% endif %}
                    <p class="max-w-md mb-8 md:mb-0">
                        Linking your Last.fm account to Blanco lets you
                        scrobble compatible tracks as you listen.
                    </p>
                </div>
                {% if lastfm_logged_in %}
                <a href="/unlink?service=lastfm"
                    class="text-md text-sienna font-bold no-underline
                        px-4 py-3 border border-sienna rounded-md transition-all hover:mt-[-4px]
                        hover:border-r-4 hover:border-b-4 active:border-r-2 active:border-b-2"
                >
                    Unlink account
                </a>
                {% else %}
                <a href="/linklastfm"
                    class="text-md text-black font-bold no-underline
                        px-4 py-3 border border-black rounded-md transition-all hover:mt-[-4px]
                        hover:border-r-4 hover:border-b-4 active:border-r-2 active:border-b-2"
                >
                    Log in with
                    <i class="fa-brands fa-lastfm"></i>
                </a>
                {% endif %}
            </div>
        </section>

        <!-- Account management -->
        <section class="mt-12">
            <h1 class="mb-4 md:mb-8">Manage account</h1>

            <div class="md:flex items-start justify-between">
                <div class="max-w-md mb-8 md:mb-0">
                    <h2 class="mb-2 md:mb-4">Delete account</h2>
                    <p class="mb-2">
                        This will delete your linked accounts and login data,
                        but you will have to unlink Blanco from your Spotify and Last.fm
                        account pages yourself.
                    </p>
                    <p>
                        <strong>This is irreversible and will not require confirmation!</strong>
                    </p>
                </div>
                <a href="/deleteaccount"
                    class="text-md text-sienna font-bold no-underline
                        px-4 py-3 border border-sienna rounded-md transition-all hover:mt-[-4px]
                        hover:border-r-4 hover:border-b-4 active:border-r-2 active:border-b-2"
                >
                    Delete account
                </a>
            </div>
        </section>
    </main>
</div>
{% endblock %}