{% extends "base.html" %}
{% block title %} | Home{% endblock %}

{% block body %}
<div id="app" class="flex w-screen h-screen items-center justify-center">
    <main class="w-full max-w-[480px]">
        <!-- Bot name -->
        <div class="flex w-full items-center justify-between">
            <div id="logo" class="flex items-center justify-start">
                <img src="/static/images/logo.svg"
                    alt="Blanco bot logo"
                    class="w-12 h-12 mr-4 rounded-full"
                >
                <h1 class="text-3xl font-mono font-bold">Blanco</h1>
            </div>
            <a href="/login" id="login"
                class="text-sm text-blue font-bold no-underline
                    px-4 py-3 border border-blue rounded-md
                    hover:border-r-4 hover:border-b-4 active:border-r-2 active:border-b-2"
            >
                Log in
                <i class="fa-brands fa-discord"></i>
            </a>
        </div>

        <!-- Bot description -->
        <div class="mt-6">
            <p>No-frills Discord music bot built with Docker.</p>
            <p class="my-2">
                <a href="https://github.com/jareddantis-bots/blanco-bot#deployment">Start a container</a>,
                invite into your server,<br>join a voice channel, and hit <code>/play</code>.
            </p>
            <p>
                Also available on
                <a href="https://github.com/jareddantis-bots/blanco-bot/pkgs/container/blanco-bot">
                    GitHub Container Registry</a>.
            </p>
        </div>

        <hr class="border-gray-300 my-8">

        <!-- Credits -->
        <div class="text-sm">
            <p class="mb-2">
                Powered by
                <a href="https://nextcord.dev/">Nextcord</a>,
                <a href="https://github.com/lavalink-devs/Lavalink">Lavalink</a>, and
                <a href="https://github.com/ooliver1/Mafic">Mafic</a>.
            </p>
            <p>
                Available under the MIT License on
                <a href="https://github.com/jareddantis/blanco-bot">GitHub</a>.
            </p>
        </div>
    </main>
</div>
{% endblock %}
