* { box-sizing: border-box; }
:root {
    --font-family: 'IBM Plex Mono', 'PT Mono', 'Monaco', 'Consolas', 'Lucida Console', monospace;
    --color-bg: #f4f1de;
    --color-text: #000000;
    --color-gray: #a5a5a5;
    --color-highlight: #e07a5f;
    --color-accent: #7a80ba;
    font-size: 16px;
}

